@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .filter-menu {
    @apply absolute top-[-60rem] z-10 h-[60rem] w-full ease-in-out duration-500 flex bg-white;
  }
  .filter-menu-opened {
    @apply overflow-y-auto md:overflow-y-visible z-10 shadow-xl bottom-0 top-0 pt-20 md:pt-16 duration-500 fixed flex md:h-[29rem] md:rounded-[2rem] ease-in-out w-full bg-white;
  }
  .filter-text {
    @apply text-[1.4rem] font-bold text-grey;
  }
  .input-conteiner {
    @apply flex flex-row w-full;
  }
  .input {
    @apply required:border-red mb-3 pl-14 w-full focus:outline-none px-2 py-2 rounded-xl border border-solid border-[#DEDEDE] focus:border-[#00ACB0];
  }
  .filter-y-line {
    @apply flex mx-10 xl:mx-24 mt-auto w-1 h-32 mb-6 bg-gray-100 rounded-full duration-500;
  }
  .modal {
    @apply flex focus:outline-none bg-white rounded-3xl w-auto h-auto my-auto flex-col duration-500 shadow-2xl;
  }
  .modal-overlay {
    @apply fixed flex focus:outline-none bg-black/50 top-20 md:top-16 bottom-0 right-0 left-0 justify-center items-center duration-500;
  }
  .home-title {
    @apply text-black leading-8 font-black md:font-extrabold text-[1.7rem] md:text-5xl xl:text-6xl duration-500;
  }
}

body {
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--before-close {
  opacity: 0;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #bdbdbd #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
